include _blocks
+header
.pagination
	ul.pagination__list
		li.pagination__list-item.previous
			a(href="#" class="pagination__list-link arrow-left")
		li.pagination__list-item.active
			a(href="#" class="pagination__list-link") 1
		li.pagination__list-item
			a(href="#" class="pagination__list-link") 2
		li.pagination__list-item
			a(href="#" class="pagination__list-link") 3
		li.pagination__list-item
			a(href="#" class="pagination__list-link") 4
		li.pagination__list-item
			a(href="#" class="pagination__list-link") 5
		li.pagination__list-item.next
			a(href="#" class="pagination__list-link arrow-right")