include _blocks
+header
.pagination
	ul
	li.previous
		a(href="#" class="pagination__list-link arrow-left")
	li.active
		a(href="#" class="pagination__list-link") 1
	li
		a(href="#" class="pagination__list-link") 2
	li
		a(href="#" class="pagination__list-link") 3
	li
		a(href="#" class="pagination__list-link") 4
	li
		a(href="#" class="pagination__list-link") 5
	li.next
		a(href="#" class="pagination__list-link arrow-right")